<div class="packages">
  <div class="row">
      <div class="col-sm-10">&nbsp;</div>
      <div class="col-sm-2 pageSizeSelector">
        <select class="form-control" id="pageSize" name="pageSize" #pageSize="ngModel" [(ngModel)]="pagination.pageSize" (change)="pageChange()">
          <option *ngFor="let i of pageSizes" [ngValue]="i">
            {{i}}
          </option>
        </select>
      </div>
    </div>

  <ngb-accordion *ngFor="let package of packages" #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="{{package.name}}:{{package.version}} by {{package.vendor}}">
      <ng-template ngbPanelContent>
        <package-detail [package] ="package" ></package-detail>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <ngb-pagination class="d-flex justify-content-end" [(collectionSize)]="pagination.collectionSize" [(page)]="pagination.page"
  [(pageSize)]="pagination.pageSize" [maxSize]="pagination.maxSize" [rotate]="pagination.rotate" 
  [boundaryLinks]="pagination.boundaryLinks" (pageChange)="pageChange($event)"></ngb-pagination>
</div>